.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.about-text article {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #444;
  font-family: var(--font-sans);
  text-align: justify;
}

.about-img img {
  width: 100%;
  max-width: 500px;
  height: auto;
  filter: contrast(1.1) grayscale(60%);
  transition: 0.5s ease;
  border-radius: 4px;
  box-shadow: 25px 25px 0px rgba(0, 0, 0, 0.08);
}

.about-img img:hover {
  filter: grayscale(0%) contrast(1);
  transform: translate(-8px, -8px);
  box-shadow: 28px 28px 0px rgba(217, 100, 58, 0.25);
}
