@import url(variables.css);
@import url(navigation.css);
@import url(hero.css);
@import url(about.css);
@import url(gallery.css);
@import url(ticket.css);

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  opacity: 0.25;
  z-index: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  overflow-x: hidden;
  line-height: 1.65;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: var(--orange) !important;
}

.logo p {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: -1px;
  color: var(--accent-dark);
  display: inline;
  flex-shrink: 0;
}

section.unbound {
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 6rem 0;
  scroll-snap-stop: always;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

h2 {
  font-size: 3.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: -0.5px;
  color: var(--accent-dark);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
}

.footer-col h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--orange);
  font-family: var(--font-main);
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  margin-bottom: 0.6rem;
}

.footer-col a {
  color: #b9b7b4;
  font-family: var(--font-sans);
  transition: all 0.3s ease-in-out;
}

.footer-col a:hover {
  color: #fff;
  transform: translateY(-2px);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  z-index: 101; /* Above nav links */
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--accent-dark);
  margin: 4px 0;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .hamburger {
    display: flex;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }

  .gallery-layout {
    grid-template-columns: 1fr;
  }

  .masonry {
    column-count: 1;
  }

  #gallery aside {
    position: static;
    margin-top: 2rem;
  }

  section.unbound {
    padding-top: 7rem;
  }

  .footer-content {
    flex-direction: column;
    gap: 2.5rem;
  }

  .carousel-container {
    display: none;
  }
}

.flex-horizontal {
  display: flex;
  gap: 1em;
}


/* Custom classes for logo and footer text */
p.logo-fes {
  color: #b3b3b3;
}

p.logo-archive {
  color: var(--orange);
}

.footer-tagline {
  color: #b3b3b3;
  max-width: 300px;
}

.copynotice {
  margin-top: 4rem; 
  border-top: 1px solid #333; 
  padding-top: 1rem; 
  color: #AAA; 
  font-size: 0.9rem;
}