/*Patching Louis Wain's page styling, mainly the hero section*/
#louis-hero h1 {
    text-shadow: 4px 4px 2px black;
    font-size: 10rem;
    font-family: "Kapakana", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#louis-hero p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px black;
}