:root {
  --bg-color: #f2eee7;
  --text-color: #1a1a1a;
  --font-main: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  --orange: #d9643a;
  --bright-orange: #ff4400;
  --accent-dark: #3a2f2a;
}
